<div class="view">
	<div class="container-fluid">
		<div class="page-header">
			<h1>
				<i class="fa fa-fw" data-ng-class="icon" aria-hidden="true"></i>
				{{ title }}
				<div class="pull-right" data-ng-if="searchableGlobal">
					<form class="form-inline">
						<input type="search" class="form-control" data-ng-model="search.$" placeholder="Search:">
					</form>
				</div>
			</h1>
		</div>
		<div class="row">
			<div class="col-12" data-ng-if="ctabs.length > 0">
				<div id="accordion" role="tablist" aria-multiselectable="false">
					<div class="card">
						<div class="card-header bg-dark" role="tab" id="header">
							<div class="nav">
								<div class="mr-auto">
									<h5 class="my-2 text-warning">
										<i class="fa fa-bars" aria-hidden="true"></i>
										Actions
									</h5>
								</div>
								<div class="btn-group ml-auto">
									<button
										type="button"
										class="btn btn-warning"
										data-toggle="collapse"
										data-target="#collapse{{ ctab.name }}"
										aria-expanded="false"
										aria-controls="collapse{{ ctab.name }}"
										data-ng-repeat="ctab in ctabs">
										<i class="fa" data-ng-class="ctab.icon" aria-hidden="true"></i>
										{{ ctab.displayname }}
									</button>
								</div>
							</div>
						</div>
						<div
							id="collapse{{ ctab.name }}"
							class="collapse"
							role="tabpanel"
							aria-labelledby="header"
							data-ng-repeat="ctab in ctabs">
							<div class="card-block p-3">
								<form role="form">
									<div class="form-group row" data-ng-repeat="field in ctab.fields">
										<label for="{{ field.name }}" class="col-form-label col-md-2">
											{{ field.displayname }}
										</label>
										<div class="col-md-10">
											<input
												type="text"
												class="form-control"
												data-ng-model="ctab.data[field.name]"
												placeholder="{{ field.placeholder }}"
												data-ng-disabled="field.disabled">
										</div>
									</div>
									<button
										type="submit"
										class="btn btn-warning btn-block"
										data-ng-click="ctab.submit(ctab.data)">
										Submit
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="container-fluid mt-4">
					<table class="table table-sm table-hover">
						<thead>
							<tr>
								<th data-ng-if="enumerate">#</th>
								<th data-ng-repeat="collumn in collumnSet">{{ collumn.displayname }}</th>
							</tr>
							<tr data-ng-if="searchableLocal">
								<th data-ng-if="enumerate">{{ currentDataSet.length }}</th>
								<td data-ng-repeat="collumn in collumnSet">
									<input
										type="text"
										placeholder="Search:"
										class="form-control form-control-sm"
										data-ng-model="search[collumn.name]">
								</td>
							</tr>
						</thead>
						<tbody>
							<tr
								data-ng-class="rowClass(data)"
								data-ng-repeat="data in dataSet | filter:search:false as currentDataSet">
								<th scope="row" data-ng-if="enumerate">{{ $index + 1 }}</th>
								<td
									data-ng-class="cellClass(data[collumn.name])"
									data-ng-repeat="collumn in collumnSet">
									{{ collumn.display(data[collumn.name]) }}
								</td>
								<td data-ng-if="config.length > 0" style="padding: 4px; vertical-align: middle;">
									<button
										data-ng-repeat="singleConfig in config"
										type="button"
										class="btn btn-warning btn-sm ml-2"
										data-ng-click="singleConfig.click(data)"
										style="padding: 2px 4px;">
										<i class="fa fa-fw" data-ng-class="singleConfig.icon" aria-hidden="true"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>