<div class="container-fluid">
  <h1>
    <fa-icon [icon]="icons.cog"></fa-icon>
    Settings
  </h1>
  <hr>
  <div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input class="form-control" id="title" style="width: auto" [(ngModel)]="settings.title">
    <small>This is the title displayed in your browser's tab</small>
  </div>
  <div class="mb-3">
    <label class="form-label" for="currency">Currency Symbol</label>
    <input class="form-control" id="currency" style="width: auto" [(ngModel)]="settings.currencySymbol">
    <small>Set the currency symbol used within Drinklist to display money values</small>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" id="imprint"
             [(ngModel)]="settings.imprint">
      <label class="form-check-label" for="imprint">Show imprint</label>
    </div>
    <small>Toggle the imprint button in the header</small>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" id="dataprotection"
             [(ngModel)]="settings.dataProtection">
      <label class="form-check-label" for="dataprotection">Show data protection</label>
    </div>
    <small>Toggle the data protection button in the header</small>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" id="recent"
             [(ngModel)]="settings.recentlyPurchased">
      <label class="form-check-label" for="recent">Recently Purchased</label>
    </div>
    <small>Toggles the ticker in the footer of the user selection page</small>
  </div>
  <div class="mb-3">
    <div class="form-check form-switch">
      <input type="checkbox" class="form-check-input" id="stock"
             [(ngModel)]="settings.stock">
      <label class="form-check-label" for="stock">Stock display</label>
    </div>
    <small>Toggles stock amount display in user detail view</small>
  </div>

  <button class="btn btn-success" (click)="save()">Save</button>
</div>
