<!DOCTYPE html>
<html lang="en" data-ng-app="mainModule">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<!-- Title -->
		<title>Admin Page</title>
		
		<!-- CSS Files -->
		<link rel="stylesheet" href="./bootstrap/css">
		<link rel="stylesheet" href="./font-awesome/css/css">
		<link rel="stylesheet" href="./css"
	</head>
	<body data-ng-controller="mainController">
		<!-- NAVBAR -->
		<nav class="navbar navbar-dark fixed-top bg-dark">
			<a class="navbar-brand text-warning" href="#/">
				<i class="fa fa-cogs" aria-hidden="true"></i>
				daGL/TOBL Admin Panel
			</a>
			<form class="form-inline">
				<div class="input-group" data-ng-hide="auth.isLoggedIn">
					<input type="password" class="form-control" placeholder="Password" data-ng-model="password" ng-keypress="($event.charCode==13)? auth.login(api, password) : return">
					<button id="btnLogin" type="button" class="btn input-group-addon" style="color: #111;background-color: #ffc107;" data-ng-click="auth.login(api, password);">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
					</button>
				</div>
				<button id="btnLogout" type="button" class="btn btn-md btn-warning" data-ng-hide="!auth.isLoggedIn" data-ng-click="auth.logout(api);">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					Logout
				</button>
			</form>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a href="#/" class="nav-link text-dark" data-ng-class="{ active: isActive('overview'), 'bg-warning': isActive('overview') }">
								<i class="fa fa-fw fa-globe" aria-hidden="true"></i>
								Overview
							</a>
						</li>
					</ul>
					<ul class="nav nav-pills flex-column" data-ng-hide="!auth.isAdmin">
						<li class="nav-item">
							<a href="#!beverage" class="nav-link text-dark" data-ng-class="{ active: isActive('beverage'), 'bg-warning': isActive('beverage') }">
								<i class="fa fa-fw fa-beer" aria-hidden="true"></i>
								Beverages
							</a>
						</li>
						<li class="nav-item">
							<a href="#!history" class="nav-link text-dark" data-ng-class="{ active: isActive('history'), 'bg-warning': isActive('history') }">
								<i class="fa fa-fw fa-history" aria-hidden="true"></i>
								History
							</a>
						</li>
						<li class="nav-item">
							<a href="#!user" class="nav-link text-dark" data-ng-class="{ active: isActive('user'), 'bg-warning': isActive('user') }">
								<i class="fa fa-fw fa-users" aria-hidden="true"></i>
								Users
							</a>
						</li>
						<li class="nav-item">
							<a href="#!token" class="nav-link text-dark" data-ng-class="{ active: isActive('token'), 'bg-warning': isActive('token') }">
								<i class="fa fa-fw fa-key" aria-hidden="true"></i>
								Active Tokens
							</a>
						</li>
					</ul>
					<ul class="nav nav-pills flex-column" data-ng-hide="!auth.isAdmin">
						<li class="nav-item">
							<a href="#" class="nav-link text-dark" data-ng-click="downloadDB()">
								<i class="fa fa-fw fa-download" aria-hidden="true"></i>
								Download DB Dump
							</a>
						</li>
					</ul>
					<ul class="nav nav-pills flex-column" data-ng-hide="!auth.isLoggedIn">
						<li class="nav-item">
							<a data-ng-href="{{userPage}}" class="nav-link text-dark">
								<i class="fa fa-fw fa-file" aria-hidden="true"></i>
								User Page
							</a>
						</li>
					</ul>
				</nav>
				<div id="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
					<!-- Placeholder for the Partials -->
					<div data-ng-view></div>
				</div>
			</div>
		</div>

		<!-- JavaScript Files -->
		<script src="./jquery"></script>
		<script src="./angular/main"></script>
		<script src="./angular/route"></script>
		<script src="./angular/filesaver"></script>
		<script src="./bootstrap/js"></script>
		<script src="./app/main"></script>
		<script src="./app/services/authentication.js"></script>
		<script src="./app/controllers/main.js"></script>
		<script src="./app/controllers/overview.js"></script>
		<script src="./app/controllers/beverage.js"></script>
		<script src="./app/controllers/history.js"></script>
		<script src="./app/controllers/user.js"></script>
		<script src="./app/controllers/token.js"></script>
	</body>
</html>