# This is a basic workflow to help you get started with Actions

name: Main CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
      - dev
    tags:
      - v*
  pull_request:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Update NPM
        run: npm -g install npm

      - name: Cache
        uses: actions/cache@v3
        with:
          path: .npm
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        run: npm ci --cache .npm --prefer-offline

      - name: Build Drinklist
        run: npm run build

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-output
          path: dist

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Update NPM
        run: npm -g install npm

      - name: Cache
        uses: actions/cache@v3
        with:
          path: .npm
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        run: npm ci --cache .npm --prefer-offline

      - name: Lint Drinklist
        run: npm run lint

  docker:
    # Don't build docker image for PR validation
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    needs:
      - build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Download build output
        uses: actions/download-artifact@v3
        with:
          name: build-output
          path: dist

      - name: Docker Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login (GitHub)
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Login (Docker Hub)
        uses: docker/login-action@v2
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha

      - name: Build and push Docker images
        uses: docker/build-push-action@v3
        with:
          context: .
          pull: true
          push: true
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm/v7
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
